</br>
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">
            History List
        </h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="History" class="btn btn-info form-control text-white">
            Add New History
        </a>
    </div>
    <div clsss="col-12 border p-3">
        <table id="HTLoad" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Drug Name</th>
                    <th>Comming Date</th>
                    <!--<th>Production Date</th>-->
                    <th>Expirey Date</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Expired</th>
                    <th>Finished</th>
                    <th>Operation</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/historyList.js"></script>
}